<h3 class="logo">U.P. Department of Learning</h3>
<nav class='navigation'>
  <h1>College Financial Decision Chart</h1>
</nav>
<div><%= image_tag "rsz_college_stock_photo.jpg", class: "medium_image" %></div>
<input type="text" id="myInput" class='myInput' onkeyup="myFunction()" placeholder="Search for colleges..">
<table id="myTable">
    <tr class="header">
      <th style="width:40%;">School name</th>
      <th style="width:40%;">Median Debt</th>
      <th style="width:40%;">Earnings</th>
      <th style="width:40%;">Monthly Payments<th>
    </tr>
    <% @parsed_payments.each do |payment|%>
    <tr>
      <td><%=payment["school.name"]%></td>
      <td><%=payment["2013.aid.median_debt.completers.overall"]%></td>
      <td><%=payment["2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings"]%></td>
    </tr>
    <%end%>
</table>
<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a class="active" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>
