.navigation {
  background-color: #94D9B1;
  float:right;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  color: #5a7994;
}

/*Images*/
.small_image {
  height: 10em;
  width: 30em;
}

.medium_image {
  width: 50%;
  height: 45em;
  padding: 10px 0px;
  float: right;
}

/*Table Filter W3 schools https://www.w3schools.com/howto/howto_js_filter_table.asp*/

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 40.3%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 20px 0px;
    position: relative;

}

#myTable {
    border-collapse: collapse;
    width: 45%;
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 12px 20px 12px 40px;
    background-position: 10px 12px;
    position: relative;
}

#myTable th, #myTable td {
    text-align: left;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {

    background-color: #f1f1f1;
}

/* Sidebar */
.sidebar {
  background-color: #5a7994;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  color: white;
  margin-left: 520px;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/*footer*/

.footer {
    text-align: center;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
  }
