/*Responsive W3 https://www.w3schools.com/css/css_rwd_grid.asp */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*navigation*/

.navigation {
  background-color: #94D9B1;
  color: #5a7994;
  padding: 15px;
  text-align: center;
  width: 100%
}

/*Images*/
.small_image {
  height: 10em;
  width: 20em;
}

/*Table Filter W3 schools https://www.w3schools.com/howto/howto_js_filter_table.asp*/

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 20px 0px;
  position: relative;
  width: 50%;
}

#myTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  background-position: 10px 12px;
  position: relative;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 10px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 500px;
}
.sidebar a {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #0099cc;
}
/*footer*/

.footer {
  text-align: center;
  bottom: 0;
  margin-top: 30px;
}
