.navigation {
  background-color: #94D9B1;
  float:right;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  color: #5a7994;
}


/*Images*/
.small_image {
  height: 10em;
  width: 30em;
}
.medium_image {
  width: 50%;
  height: 35em;
  padding: 10px 20px;
  float: right;
}

/*Table Filter W3 schools https://www.w3schools.com/howto/howto_js_filter_table.asp*/

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 20px 0px;
}

#myTable {
    border-collapse: collapse;
    width: 54.60%;
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 12px 20px 12px 40px;
    background-position: 10px 12px;
}

#myTable th, #myTable td {
    text-align: left;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {

    background-color: #f1f1f1;
}

/* Pagination */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
