<!DOCTYPE html>
<html>
  <head>
    <title>Fin College App</title>
    <script src="https://use.fontawesome.com/8795c4ff26.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
